<!-- ---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: false
--- -->


<style>

  .content {
    width: 75%;
  }

  .danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
    margin-bottom: 15px;
    padding: 4px 12px;
    color: darkgray;
  }

</style>

<div class="content">

  <div class="danger">
    This page is currently in development
  </div>

<!-- {% include base_path %}


{% for post in site.portfolio reversed %}
  {% include archive-single.html %}
{% endfor %} -->

</div>